table ip6 filter {
	chain input{
		type filter hook input priority 0;
		policy drop;

		ct state established, related accept
		iif lo accept

		{% for port in allowed_ports %}
		tcp dport {{ port }} accept 
		{% endfor %}

		{% for ip in allowed_ipv6 %}
		ip6 saddr {{ ip }} accept 
		{% endfor  %}

		ip6 nexthdr icmpv6 accept
	}
}
