[defaults]
inventory = ./inventory/hosts.ini
# Отключаем проверку ключей SSH для удобства в лабах (в продакшене так не делают!)
host_key_checking = False
# Указываем путь к ролям
roles_path = ./roles
# Имя пользователя по умолчанию
remote_user = root