[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
library = ./library
module_utils = ./module_utils
collections_paths = ./collections
remote_user = root
host_key_checking = False
pipelining = True
timeout = 30
retry_files_enabled = False
interpreter_python = auto_silent
remote_tmp = /tmp/ansible

[privilege_escalation]
become = True
become_method = sudo
