Sync {
    Mode {{ conntrackd_sync_mode }} {
        DisableExternalCache Off
        CommitTimeout {{ conntrackd_commit_timeout | default(1800) }}
        PurgeTimeout {{ conntrackd_purge_timeout | default(60) }}
    }

    UDP Default {
        IPv4_address {{ ipv4_addr }}
        IPv4_Destination_Address {{ conntrackd_sync_peer_ipv4 }}
        Port {{ conntrackd_port }}
        Interface {{ conntrackd_interface }}
        Checksum on
    }
}

General {
    HashSize 32768
    HashLimit 131072
    LogFile /var/log/conntrackd/conntrackd.log
    LockFile /var/lock/conntrack.lock

    UNIX {
        Path /var/run/conntrackd.ctl
    }

    Filter From Kernelspace {
        Protocol Accept {
            TCP
            UDP
            ICMP
        }
        Address Ignore {
            IPv4_address 127.0.0.1
            IPv4_address {{ ipv4_addr }}
        }
    }
}